<h1><b> Here Are Your Stats:</b></h1>
<br>
  <br>
<center><%= @round.deck.name %></center>
<center><%= @round.deck.cards.count %></center>
<center><%= @round.total_guesses %></center>
<center><%= @round.first_try_correct%></center>
<br>
  <br>
<h3><a href= "/decks"> Click Here To Try Your Luck Again!</a></h3>
